body {
  position: relative;
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
  height: 100%;
}

.subject {
  width: 20em;
  display: inline-block;
}

.body {
  width: 80%;
  height: 30em;
}

.popup {
  border: 1px solid black;
  height: 20em;
  position: absolute;
}

.popup li {
  
}
