body {
  position: relative;
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
  height: 100%;
}

.subject {
  width: 20em;
  display: inline-block;
}

.body {
  width: 80%;
  height: 30em;
}

.popup {
  border: 1px solid gray;
  position: absolute;
  background: lightgray;
}

.popup ul {
  margin: 0;
  padding: 0;
}

.popup li {
  list-style-type:none;
  border: 1px solid black;
  padding: 2px;
}

.popup li.selected {

}
