html {
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  margin: 0;
}

#main {
  padding-top: 8%;
  padding-left: 11.35%;
  width: 100%;
  height: 100%;
  background: rgba(240, 240, 240, 0.6);
}

.subject {
  width: 20em;
  display: inline-block;
}

.body {
  width: 80%;
  height: 30em;
}

.popup {
  border: 1px solid gray;
  position: absolute;
  background: lightgray;
  box-shadow: 1px 1px 1px gray;
}

.popup ul {
  margin: 0;
  padding: 0;
}

.popup li {
  list-style-type: none;
    border: 1px solid lightgray;
    padding: 2px;
    background-color: rgba(255, 255, 255, 0.8);
}

.popup li.selected {

}

.subject .ProseMirror {
  height: 38px;
}

.subject .ProseMirror-content {
  height: 30px;
}

.body .ProseMirror {
  height: 20em;
  width: 60%;
  margin-left: 8%;
}

.body .ProseMirror-content {
  height: 20em;
}

div #inputarea {
  margin-left: 30px;
}

span {
  padding-right: 10px;
}

div .ProseMirror {
  margin: 0;
}
